.jumbotron {
    background-color: black;
    color: chartreuse;
  }
  
  .title {
    text-align: center;
    font-family: "Train One", cursive;
    font-size: 250px;
  
    -webkit-background-clip: text;
    color: transparent;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpeg");
  }

  .cta {

    margin-top: 100px;
    color: white!important;
    background-color: #C336C5!important;
  }

  .cta:hover{
    background-color: #18AEB0!important;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* CTA Button color: #C336C5 
    CTA Button contrast color: #18AEB0
  */