/* .background{
  background-image: url("../images/crowd.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.crowd {
 /* The image used */
 background-image: url("../images/crowd.jpg");
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-bottom: solid 1px black;
}


  h1.blank {
    height: 100vh;
    visibility: hidden;
  }
  