body {
    /* background-image: url("../images/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpeg"); */
    background-image: url("../images/background3.jpeg");
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;  
}

button {
    color:rgb(9, 255, 0);
    font-size: largest;
    background-color: black;
    max-height: 200px;
    padding: 7%;
    
}

button :hover{
    background-color: rgb(182, 255, 73)!important;
}

.buttonsDiv {
    position: absolute;
    top: 12%;
    right: 14%;
    width: 300px;
    border-top: 15% black solid;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    letter-spacing: 4mm;
  
}

video {
    visibility: show;
}