body {
    /* background-image: url("../images/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpeg"); */
    background-image: url("../images/background3.jpeg");
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;  
}

button {
    color:rgb(9, 255, 0);
    font-size: largest;
    background-color: black;
    max-height: 200px;
    padding: 7%;
    transition: all 0.2s ease-in-out;
    
}

span {
 margin-left: 4px;
 background-color: black;
}

span :hover{
 margin-left: -4px;
 border-left: black 4px solid;
 border-right: black 4px solid;
background-color: black;
box-shadow: 3px 10px 15px rgba(0, 255, 9, 0.904);
}

.buttonsDiv {
    position: absolute;
    top: 9%;
    right: 9.5%;
    width: 400px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
  
}

.buttonsDiv :hover {
color: rgb(235, 14, 224);
}