* {
    background-image: url("../images/stage.gif");
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    

}