.jumbotron {
  padding-top: 25px;
    background-color: black;
    color: chartreuse;
  }

  .title {
    text-align: center;
    font-family: "Train One", cursive;
    font-size: 15vw;
    margin-bottom: 15px;;
  
    -webkit-background-clip: text;
    color: transparent;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpeg");
  }

  .cta {
    margin-top: 70px;
    color: white!important;
    background-color: #C336C5!important;
    font-family: 'Kanit', sans-serif;
  }

  .cta:hover{
    background-color: rgb(141, 223, 18)!important;
    box-shadow: rgba(255, 204, 0, 0.913) 0px 7px 29px 0.2px;
    /* box-shadow: rgba(183, 255, 95, 0.974) 0px 7px 29px 0.2px; */
    /* box-shadow: rgba(182, 255, 73, 0.945) 0px 7px 29px 0px; */
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
